{% extends 'base.html' %}
{% load static %}

{% block page_body %}
    <br><br>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Welcome to Class Scheduler!</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Upload your excel file to get a valid routine generated!</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center pt-2 text-lg-start">
                <form method="POST" action="" enctype="multipart/form-data">  {% csrf_token %}
                    {{form.file}}
                    <input type="submit" value="Upload" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">  
                </form>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'upload/assets/img/hero-img.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% endblock %}